.navbar {
  background-color: white;
  border-bottom: 1px solid grey;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  position: fixed;
}

.logo {
  width: 250px;
  height: auto;
}

.navbar-links {
  margin-right: 50px;
  list-style: none;
  display: flex;
}

.navbar-links-item {
  margin: 0;
  padding: 8px 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  border: 1px solid #9d249d;
  border-radius: 5px;
  background-color: white;
  transition: background-color 0.3s ease;
  display: inline-block;

  &:hover {
    background-color: #9d249d;
    color: #fff;
  }
}
